#myresume{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  width: 800px;
  box-shadow: 0px 5px 5px;
  background-color: rgb(248, 251, 253);
  margin-bottom: 5%;
}
body {
  background-color: aliceblue;
}
h1 {
  background-color: rgb(188, 226, 252);
}
h1 :hover {
  box-shadow: 0 0 10px rgb(38, 38, 39);
  border: none;
  border-radius: 50px;
}
img {
  height: 200px;
  width: 200px;
  border: none;
  border-radius: 200px;
}
img:hover {
  box-shadow: 0 0 10px rgb(38, 38, 39);
}
#showskills :hover {
  cursor: pointer;
}

button {
  background-color: rgb(189, 225, 249);
  font-family: serif;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 30px;
  font-size: large;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(38, 38, 39);
}
p{
  font-size: large;
}

