#mainheading {
  background-color: white;
  color: #001478;
  text-align: center;
}

.punchline {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #778fb1;
}

#formdiv {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 5px 6px;
  background-color: rgb(248, 251, 253);
}

h1 {
  margin-left: 20px;
  color: #001478;
}

h2 {
  background-color: rgb(237, 246, 251);
  font-size: 25px;
  padding: 2px;
  padding-left: 10px;
  color: #133e87;
}

h2:hover {
  background-color: rgb(170, 215, 255);
  color: black;
}

h4 {
  font-weight: normal;
  margin-left: 25px;
}

p {
  font-size: large;
  margin-left: 20px;
  margin-top: 20px;
  padding: 2px;
}

img {
  height: 180px;
  width: 180px;
  border: none;
  border-radius: 200px;
  margin-left: 10px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
}
img:hover {
  box-shadow: 0 0 10px rgb(38, 38, 39);
}
#showskills:hover {
  cursor: pointer;
}

button {
  border: 3px solid rgb(10, 140, 254);
  background-color: #01198f;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  margin-left: 10px;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px grey;
  background-color: #010e4f;
}

#generatedresume {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 5px 6px;
  background-color: #fff;
}
body {
  background-color: aliceblue;
}

label {
  font-size: large;
  margin-left: 10px;
}

input {
  width: 200px;
  margin-left: 3px;
}

textarea {
  margin-left: 10px;
  margin-top: 2px;
  width: 500px;
}

.myname {
  color: #001478;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -2%;
}

.endtext {
  font-size: 20px;
}

.footer {
  color: rgb(61, 59, 59);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -3%;
}

/* Responsive Design for Tablets */
@media (max-width: 768px) {
  #formdiv,
  #generatedresume {
    width: 95%;
    padding: 15px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  p,
  h4,
  label {
    font-size: 0.9rem;
  }

  img {
    height: 150px;
    width: 150px;
  }

  textarea {
    width: auto;
  }

  button {
    padding: 10px;
    font-size: 0.9rem;
  }

  img {
    height: 100px;
    width: 100px;
  }
}

.footer {
  color: rgb(61, 59, 59);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -3%;
}

/* Responsive Design for Mobile Phones */
@media (max-width: 480px) {
  #formdiv,
  #generatedresume {
    width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h4,
  label,
  p {
    font-size: 0.9rem;
  }

  input,
  textarea {
    font-size: 0.9rem;
    padding: 8px;
  }

  textarea {
    height: 80px;
  }

  img {
    height: 90px;
    width: 90px;
  }

  button {
    padding: 8px;
    font-size: 0.8rem;
  }
}

.footer {
  color: rgb(61, 59, 59);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -3%;
}
