#mainheading {
  background-color: white;
  color: rgb(0, 20, 120);
  text-align: center;
}
#formdiv{
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 5px 6px;
  background-color: rgb(248, 251, 253);  
}

h1 {
  margin-left: 20px;
  color: #001478;
}

h2 {
  background-color: rgb(237, 246, 251);
  font-size: 25px;
  padding: 2px;
  padding-left: 10px;
  color: #133e87;
}

h2:hover {
  background-color: rgb(170, 215, 255);
  color: black;
}

h4{
  font-weight: normal;
  margin-left: 22px;
}

p {
  font-size: large;
  margin-left: 20px;
  margin-top: 20px;
  padding: 2px;
}

img {
  height: 180px;
  width: 180px;
  border: none;
  border-radius: 200px;
  margin-left: 10px; 
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
}
img:hover {
  box-shadow: 0 0 10px rgb(38, 38, 39);
}
#showskills:hover {
  cursor: pointer;
}

button {
  border: 3px solid rgb(10, 140, 254) ;
  background-color: #01198f;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  margin-left: 5px;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px grey;
  background-color: #010e4f;
}

#generatedresume{
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 5px 6px;
  background-color: #fff;
}
body {
  background-color: aliceblue;
}

/* Responsive Design */
@media (max-width: 768px) {
  #formdiv, #generatedresume {
      width: 90%;
      padding: 15px;
  }

  h2 {
      font-size: 1.2rem;
  }

  h4 {
    font-weight: normal;
    font-size: 0.9rem;
  }

  p {
      font-size: 0.9rem;
  }

  img {
      height: 120px;
      width: 120px;
  }

  button {
      padding: 10px;
      font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  #formdiv, #generatedresume {
      width: 100%;
      padding: 10px;
  }

  h2 {
      font-size: 1.3rem;
  }

  h4{
    font-size: 1rem;
    font-weight: normal;
  }

  p {
      font-size: 1rem;
  }

  img {
      height: 120px;
      width: 120px;
  }

  button {
      padding: 8px;
      font-size: 0.8rem;
  }
}
