#mainheading {
    background-color: white;
    color: rgb(7, 61, 97);
    text-align: center;
  }
  #formdiv{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 5px 6px;
    background-color: rgb(248, 251, 253);  
  }
  h2 {
    background-color: rgb(188, 226, 252);
  }
  h2 :hover {
    box-shadow: 0 0 10px rgb(38, 38, 39);
  }
  img {
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 200px;
  }
  img:hover {
    box-shadow: 0 0 10px rgb(38, 38, 39);
  }
  #showskills :hover {
    cursor: pointer;
  }
  
  button {
    background-color: rgb(5, 76, 124);
    color: white;
    font-weight: bold;
    padding: 13px;
    border: none;
    border-radius: 20px;
  }
  button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(38, 38, 39);
  }
  #generatedresume{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 5px 6px;
    background-color: #fff;
  }
  body {
    background-color: aliceblue;
  }
  